@import './default.less';
@import './loading.less';

ul li{
  list-style: none;
}
.clearfix{
  &::after{
    content:' ';
    clear:both;
    display: block;
    visibility: hidden;
  }
}

.containter{
  .nav-left{
    background: #001925;
    height: calc(100vh);
    color: #fff;
  }
  .main{
    background: @colorL;
    height: calc(100vh);
    overflow: auto;
  }
  .content{
    position: relative;
    padding: 20px;
  }
}
.content{
  position: relative;
  padding: 20px;
}
.content-wrap{
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-top: -3px;
  .ant-table-wrapper{
    margin-left:-1px;
    margin-right:-2px;
  }
}